*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
    height: 100%;
    /* background: linear-gradient(90deg, #29323C 0%, #485563 100%); */
}
body{
	display: flex;
	flex-direction: column;
}
.col{
    width: 50%;
    margin: 0;
    border: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.col{
    height: 100%;
}
.grass{
    background-color: green;
}
.grassEater{
    background-color: #ffff00;
}
.predator{
    background-color: #ff0000;
}
.person{
    background-color: #ffb400;
}
.lightning{
    background-color: #6CF6FF;
}
#restartGame {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px; 
    cursor: pointer;
    border-radius: 5px;
}
#restartGame:hover {
    background-color: #45a049;  
}
.color{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #000; 
}