*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
    height: 100%;
    /* background: linear-gradient(90deg, #29323C 0%, #485563 100%); */
}
body{
	display: flex;
	flex-direction: column;
}
.col{
    width: 50%;
    margin: 0;
    border: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.col{
    height: 100%;
}
.grass{
    background-color: green;
}
.grassEater{
    background-color: #ffff00;
}
.predator{
    background-color: #ff0000;
}
.person{
    background-color: #ffb400;
}
.lightning{
    background-color: #ffffff;
}
#restartGame {
    background-color: #4CAF50; /* Green background color */
    border: none; /* No border */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline from the text */
    display: inline-block; /* Display the button as an inline element */
    font-size: 16px; /* Font size */
    margin: 10px; /* Margin around the button */
    cursor: pointer; /* Show a hand cursor on hover */
    border-radius: 5px; /* Optional: Add rounded corners to the button */
}
#restartGame:hover {
    background-color: #45a049; /* Darker green color on hover */
}
.color{
    display: flex;
}